passwords.txt
./config
./config/*
.DS_Store
.metadata
.DS_Store
.DS_Store
.gitignore
etc/.DS_Store
week1/.DS_Store
week11/.DS_Store
week2/.DS_Store
week3/.DS_Store
week4/.DS_Store
week5/.DS_Store
week6/.DS_Store
week6/slides-redone/HelloWorld/.settings/org.eclipse.jdt.core.prefs
week6/slides-redone/HelloWorld/.project
week6/slides-redone/HelloWorld/.settings/org.eclipse.core.resources.prefs
week6/slides-redone/HelloWorld/.classpath
